.card {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border:#5F5F5C;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Yusei Magic', sans-serif;
    letter-spacing: 3px;
    color:#5F5F5C;
}