.card {
  background-color:#edd9d5;
  border:#5F5F5C;
}

body {
  font-family: 'Yusei Magic', sans-serif;
  color:#5F5F5C;
  letter-spacing: 2px;
}

li {
  list-style-type: none;
  font-family: 'Yusei Magic', sans-serif;
}

ul {
  padding-left: 0;
}

.btn-teal {
  color: #fff;
  background-color: #0c878a;
  border-color: #0c878a;
}

a {
  color: #0c878a;
}